webservices/Meteo-Hour-Webservice/ClientDateHeure/Web References/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DateHeure">
        <s:complexType />
      </s:element>
      <s:element name="DateHeureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DateHeureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StructureDateHoure">
        <s:complexType />
      </s:element>
      <s:element name="StructureDateHoureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StructureDateHoureResult" type="tns:GetInfoDateHeure" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetInfoDateHeure">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="hour" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="minute" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="second" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="stringdateheure" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DateHeureSoapIn">
    <wsdl:part name="parameters" element="tns:DateHeure" />
  </wsdl:message>
  <wsdl:message name="DateHeureSoapOut">
    <wsdl:part name="parameters" element="tns:DateHeureResponse" />
  </wsdl:message>
  <wsdl:message name="StructureDateHoureSoapIn">
    <wsdl:part name="parameters" element="tns:StructureDateHoure" />
  </wsdl:message>
  <wsdl:message name="StructureDateHoureSoapOut">
    <wsdl:part name="parameters" element="tns:StructureDateHoureResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DateHeure">
      <wsdl:input message="tns:DateHeureSoapIn" />
      <wsdl:output message="tns:DateHeureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StructureDateHoure">
      <wsdl:input message="tns:StructureDateHoureSoapIn" />
      <wsdl:output message="tns:StructureDateHoureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DateHeure">
      <soap:operation soapAction="http://tempuri.org/DateHeure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StructureDateHoure">
      <soap:operation soapAction="http://tempuri.org/StructureDateHoure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DateHeure">
      <soap12:operation soapAction="http://tempuri.org/DateHeure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StructureDateHoure">
      <soap12:operation soapAction="http://tempuri.org/StructureDateHoure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:4457/WebSite2/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:4457/WebSite2/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>