webservices/Library-Webservice/AbonneServiceForm/Web References/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechercheParISBN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isbn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechercheParISBNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RechercheParISBNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechercheParAteur">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auteur" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechercheParAteurResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RechercheParAteurResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Connexion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomabonne" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pswabonne" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnexionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestDeConnexion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomabonne" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pswabonne" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestDeConnexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestDeConnexionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AjoutCommentaire">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomabonne" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pswabonne" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commentaire" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AjoutCommentaireResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AjoutCommentaireResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecupCommentaire">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isbn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecupCommentaireResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecupCommentaireResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RechercheParISBNSoapIn">
    <wsdl:part name="parameters" element="tns:RechercheParISBN" />
  </wsdl:message>
  <wsdl:message name="RechercheParISBNSoapOut">
    <wsdl:part name="parameters" element="tns:RechercheParISBNResponse" />
  </wsdl:message>
  <wsdl:message name="RechercheParAteurSoapIn">
    <wsdl:part name="parameters" element="tns:RechercheParAteur" />
  </wsdl:message>
  <wsdl:message name="RechercheParAteurSoapOut">
    <wsdl:part name="parameters" element="tns:RechercheParAteurResponse" />
  </wsdl:message>
  <wsdl:message name="ConnexionSoapIn">
    <wsdl:part name="parameters" element="tns:Connexion" />
  </wsdl:message>
  <wsdl:message name="ConnexionSoapOut">
    <wsdl:part name="parameters" element="tns:ConnexionResponse" />
  </wsdl:message>
  <wsdl:message name="TestDeConnexionSoapIn">
    <wsdl:part name="parameters" element="tns:TestDeConnexion" />
  </wsdl:message>
  <wsdl:message name="TestDeConnexionSoapOut">
    <wsdl:part name="parameters" element="tns:TestDeConnexionResponse" />
  </wsdl:message>
  <wsdl:message name="AjoutCommentaireSoapIn">
    <wsdl:part name="parameters" element="tns:AjoutCommentaire" />
  </wsdl:message>
  <wsdl:message name="AjoutCommentaireSoapOut">
    <wsdl:part name="parameters" element="tns:AjoutCommentaireResponse" />
  </wsdl:message>
  <wsdl:message name="RecupCommentaireSoapIn">
    <wsdl:part name="parameters" element="tns:RecupCommentaire" />
  </wsdl:message>
  <wsdl:message name="RecupCommentaireSoapOut">
    <wsdl:part name="parameters" element="tns:RecupCommentaireResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RechercheParISBN">
      <wsdl:input message="tns:RechercheParISBNSoapIn" />
      <wsdl:output message="tns:RechercheParISBNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RechercheParAteur">
      <wsdl:input message="tns:RechercheParAteurSoapIn" />
      <wsdl:output message="tns:RechercheParAteurSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Connexion">
      <wsdl:input message="tns:ConnexionSoapIn" />
      <wsdl:output message="tns:ConnexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestDeConnexion">
      <wsdl:input message="tns:TestDeConnexionSoapIn" />
      <wsdl:output message="tns:TestDeConnexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AjoutCommentaire">
      <wsdl:input message="tns:AjoutCommentaireSoapIn" />
      <wsdl:output message="tns:AjoutCommentaireSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecupCommentaire">
      <wsdl:input message="tns:RecupCommentaireSoapIn" />
      <wsdl:output message="tns:RecupCommentaireSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercheParISBN">
      <soap:operation soapAction="http://tempuri.org/RechercheParISBN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercheParAteur">
      <soap:operation soapAction="http://tempuri.org/RechercheParAteur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connexion">
      <soap:operation soapAction="http://tempuri.org/Connexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDeConnexion">
      <soap:operation soapAction="http://tempuri.org/TestDeConnexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AjoutCommentaire">
      <soap:operation soapAction="http://tempuri.org/AjoutCommentaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupCommentaire">
      <soap:operation soapAction="http://tempuri.org/RecupCommentaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercheParISBN">
      <soap12:operation soapAction="http://tempuri.org/RechercheParISBN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercheParAteur">
      <soap12:operation soapAction="http://tempuri.org/RechercheParAteur" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connexion">
      <soap12:operation soapAction="http://tempuri.org/Connexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDeConnexion">
      <soap12:operation soapAction="http://tempuri.org/TestDeConnexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AjoutCommentaire">
      <soap12:operation soapAction="http://tempuri.org/AjoutCommentaire" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupCommentaire">
      <soap12:operation soapAction="http://tempuri.org/RecupCommentaire" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:5465/ServiceLibrary/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:5465/ServiceLibrary/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>